In [1]:
pip install keras-rectified-adam

Requirement already satisfied: keras-rectified-adam in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: Keras in /usr/local/lib/python3.7/dist-packages (from keras-rectified-adam) (2.4.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-rectified-adam) (1.19.5)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from Keras->keras-rectified-adam) (3.13)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.7/dist-packages (from Keras->keras-rectified-adam) (1.4.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (from Keras->keras-rectified-adam) (3.1.0)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py->Keras->keras-rectified-adam) (1.5.2)

In [2]:
import keras
import os, sys
import numpy as np
import pandas as pd
import tensorflow as tf
from google.colab import drive
from sklearn.metrics import mean_squared_error
from keras.models import Model
from keras.layers import Flatten, Dense, Input, Embedding, Dot
from keras.layers import GlobalAveragePooling1D, Dropout, BatchNormalization
from keras.optimizers import Adam
from keras_radam import RAdam

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
movie = pd.read_csv('/content/drive/My Drive/MovieLens/movie.csv')
rating = pd.read_csv('/content/drive/My Drive/MovieLens/rating.csv')
movie = movie.loc[:,["movieId","genres"]]
rating = rating.loc[:,["userId","movieId","rating"]]
data = pd.merge(rating, movie)

In [4]:
n_movies = len(data['movieId'].unique())
n_users = len(data['userId'].unique())
print(n_movies, n_users, len(rating))

26744 138493 20000263

In [5]:
genres_split = data.genres.str.split('|').tolist()
genres_unique = set()
for movie_genres in genres_split:
    for genre in movie_genres:
        genres_unique.add(genre)
genres2idx = {o:i+1 for i,o in enumerate(genres_unique)}
genres_split = [[genres2idx[x] for x in movie_genres] for movie_genres in genres_split]
padded_genres = tf.keras.preprocessing.sequence.pad_sequences(
    genres_split, padding="post"
)

users = data.userId.unique()
movies = data.movieId.unique()

userid2idx = {o:i for i,o in enumerate(users)}
movieid2idx = {o:i for i,o in enumerate(movies)}

data['userId'] = data['userId'].apply(lambda x: userid2idx[x])
data['movieId'] = data['movieId'].apply(lambda x: movieid2idx[x])

data = data.drop(columns=['genres'])
for i in range(10):
    data['genre'+str(i)] = padded_genres[:,i]

split = np.random.rand(len(data)) < 0.9
train = data[split]
valid = data[~split]
data.head(10)

   userId  movieId  rating  genre0  ...  genre6  genre7  genre8  genre9
0       0        0     3.5       1  ...       0       0       0       0
1       1        0     3.0       1  ...       0       0       0       0
2       2        0     3.0       1  ...       0       0       0       0
3       3        0     3.0       1  ...       0       0       0       0
4       4        0     3.0       1  ...       0       0       0       0
5       5        0     3.0       1  ...       0       0       0       0
6       6        0     1.0       1  ...       0       0       0       0
7       7        0     3.5       1  ...       0       0       0       0
8       8        0     2.0       1  ...       0       0       0       0
9       9        0     4.0       1  ...       0       0       0       0

[10 rows x 13 columns]

In [6]:
n_user_embedding = 32
n_movie_embedding = int(n_user_embedding * 0.75)
n_genres_embedding = int(n_user_embedding * 0.25)
keras.backend.clear_session()

user_input = Input(shape=(1,), name='user_input', dtype='int64')
user_embedding = Embedding(n_users, n_user_embedding, name='user_embedding')(user_input)
user_vector = Flatten()(user_embedding)

movie_input = Input(shape=(1,), name='movie_input', dtype='int64')
movie_embedding = Embedding(n_movies, n_movie_embedding, name='movie_embedding')(movie_input)
movie_vector = Flatten()(movie_embedding)

genres_input = Input(shape=(len(padded_genres[0]),), name='genres_input', dtype='int64') # input = (10, 1)
genres_embedding = Embedding(len(genres_unique)+1, n_genres_embedding, mask_zero=True, name='genres_embedding')(genres_input) # input = 21
genres_average_embedding = GlobalAveragePooling1D()(genres_embedding)
genres_vector = Flatten()(genres_average_embedding)

concat_layer = tf.concat([user_vector, movie_vector, genres_vector], 1, name='concat_layer')
concat_vector = BatchNormalization()(concat_layer)
mlp_layer = Dense(16, activation='relu')(concat_layer)

user_embedding2 = Embedding(n_users, n_user_embedding, name='user_embedding2')(user_input)
user_vector2 = Flatten()(user_embedding2)
movie_embedding2 = Embedding(n_movies, n_movie_embedding, name='movie_embedding2')(movie_input)
movie_vector2 = Flatten()(movie_embedding2)
genres_embedding2 = Embedding(len(genres_unique)+1, n_genres_embedding, mask_zero=True, name='genres_embedding2')(genres_input) # input = 21
genres_average_embedding2 = GlobalAveragePooling1D()(genres_embedding2)
genres_vector2 = Flatten()(genres_average_embedding2)
matrix_factorization = Dot(axes=1)([user_vector2, tf.concat([movie_vector2, genres_vector2], 1)])

output_layer = tf.concat([matrix_factorization, mlp_layer], 1)
output = Dense(1, activation='sigmoid')(output_layer)
output = output*4.5 + 0.5

model = Model([user_input, movie_input, genres_input], output)
# age 추가 실험?
model.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
genres_input (InputLayer)       [(None, 10)]         0
__________________________________________________________________________________________________
user_input (InputLayer)         [(None, 1)]          0
__________________________________________________________________________________________________
movie_input (InputLayer)        [(None, 1)]          0
__________________________________________________________________________________________________
genres_embedding2 (Embedding)   (None, 10, 8)        168         genres_input[0][0]
__________________________________________________________________________________________________
genres_embedding (Embedding)    (None, 10, 8)        168         genres_input[0][0]
__________________________________________________________________________________________________
movie_embedding2 (Embedding)    (None, 1, 24)        641856      movie_input[0][0]
__________________________________________________________________________________________________
global_average_pooling1d_1 (Glo (None, 8)            0           genres_embedding2[0][0]
__________________________________________________________________________________________________
user_embedding (Embedding)      (None, 1, 32)        4431776     user_input[0][0]
__________________________________________________________________________________________________
movie_embedding (Embedding)     (None, 1, 24)        641856      movie_input[0][0]
__________________________________________________________________________________________________
global_average_pooling1d (Globa (None, 8)            0           genres_embedding[0][0]
__________________________________________________________________________________________________
user_embedding2 (Embedding)     (None, 1, 32)        4431776     user_input[0][0]
__________________________________________________________________________________________________
flatten_4 (Flatten)             (None, 24)           0           movie_embedding2[0][0]
__________________________________________________________________________________________________
flatten_5 (Flatten)             (None, 8)            0           global_average_pooling1d_1[0][0]
__________________________________________________________________________________________________
flatten (Flatten)               (None, 32)           0           user_embedding[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 24)           0           movie_embedding[0][0]
__________________________________________________________________________________________________
flatten_2 (Flatten)             (None, 8)            0           global_average_pooling1d[0][0]
__________________________________________________________________________________________________
flatten_3 (Flatten)             (None, 32)           0           user_embedding2[0][0]
__________________________________________________________________________________________________
tf.concat_1 (TFOpLambda)        (None, 32)           0           flatten_4[0][0]
                                                                 flatten_5[0][0]
__________________________________________________________________________________________________
tf.concat (TFOpLambda)          (None, 64)           0           flatten[0][0]
                                                                 flatten_1[0][0]
                                                                 flatten_2[0][0]
__________________________________________________________________________________________________
dot (Dot)                       (None, 1)            0           flatten_3[0][0]
                                                                 tf.concat_1[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 16)           1040        tf.concat[0][0]
__________________________________________________________________________________________________
tf.concat_2 (TFOpLambda)        (None, 17)           0           dot[0][0]
                                                                 dense[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 1)            18          tf.concat_2[0][0]
__________________________________________________________________________________________________
tf.math.multiply (TFOpLambda)   (None, 1)            0           dense_1[0][0]
__________________________________________________________________________________________________
tf.__operators__.add (TFOpLambd (None, 1)            0           tf.math.multiply[0][0]
==================================================================================================
Total params: 10,148,658
Trainable params: 10,148,658
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
model.compile(optimizer=Adam(), loss='mse')
batch_size = 4096*8
epochs=10

history = model.fit([train.userId, train.movieId, train.iloc[:,3:13]],train.rating,
                batch_size=batch_size, epochs=epochs,
                validation_data = ([valid.userId, valid.movieId, valid.iloc[:,3:13]],valid.rating), verbose = 1)

Epoch 1/20
550/550 [==============================] - 127s 199ms/step - loss: 0.9940 - val_loss: 0.6937
Epoch 2/20
550/550 [==============================] - 110s 200ms/step - loss: 0.6544 - val_loss: 0.6287
Epoch 3/20
550/550 [==============================] - 110s 199ms/step - loss: 0.5592 - val_loss: 0.6149
Epoch 4/20
550/550 [==============================] - 107s 195ms/step - loss: 0.5053 - val_loss: 0.6175
Epoch 5/20
392/550 [====================>.........] - ETA: 30s - loss: 0.4683

In [ ]:
valid_predictions = model.predict([valid.userId, valid.movieId, valid.iloc[:,3:13]], batch_size = batch_size)
valid_rmse = mean_squared_error(valid.rating, valid_predictions, squared=False) # squared=False -> RMSE
print(valid_rmse)